# Crossmint
NEXT_PUBLIC_CROSSMINT_CLIENT_ID=your_crossmint_client_id_here

# Optional: Crossmint environment (staging | production)
NEXT_PUBLIC_CROSSMINT_ENV=staging

# Payload CMS
PAYLOAD_SECRET=your-random-secret-string-here
DATABASE_URI=file:./aaac.db
